* {
    margin: 0;
    padding:0;
    list-style: none;

}

ul , ul li { 
    list-style: none;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

section h1.title1,h2.title2 {
    color: #323A40;
}



.m-top-sm {
    margin-bottom: 10px;
}

.bg-section-main {
    background-color: map-get($bgColor , SectionMain );
    border-bottom:6px solid #666;
    padding-bottom: 30px;
}



